@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="ms-auth-page">
    <div class="ms-auth-card">
        <div class="ms-auth-tabs">
            <a class="ms-auth-tab" asp-page="/Account/Login">Log In</a>
            <a class="ms-auth-tab" asp-page="/Account/Register">Register</a>
        </div>
        <div class="ms-auth-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
