@page
@model LockoutModel
@{
    ViewData["Title"] = Localizer["Account_LockoutTitle"].Value;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["Account_LockoutMessage"]</p>
</header>
