@page
@model LogoutModel
@{
    ViewData["Title"] = Localizer["Account_LogoutTitle"].Value;
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" method="post" asp-page="/Account/Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Account_LogoutClick"]</button>
            </form>
        }
        else
        {
            <p>@Localizer["Account_LogoutSuccess"]</p>
        }
    }
</header>
