@page
@model MediSphere.Pages.Administrator.LockoutUserModel
@{
    ViewData["Title"] = Localizer["LockoutUser"].Value;
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["LockoutUserConfirm"]</p>

<form method="post">
    <input type="hidden" asp-for="ExistingUserModel.Id" />
    <button type="submit" class="btn btn-danger">@Localizer["LockoutUser"]</button>
    <a asp-page="/Administrator/Settings" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>
