@page
@model MediSphere.Pages.Patient.UpdatePatientModel
@{
    ViewData["Title"] = "Edit Patient";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}

<div class="ms-page-header">
    <h2>Edit Patient</h2>
    <p>Update patient information.</p>
</div>

<div class="ms-card ms-form-card">
    <form id="update-patient-form">
            <input type="hidden" id="patientId" value="@Model.PatientId" />
            <div class="form-floating">
                <input id="firstName" class="form-control" required />
                <label class="form-label">First name</label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="form-floating">
                <input id="lastName" class="form-control" required />
                <label class="form-label">Last name</label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="form-floating">
                <input id="emailAddress" class="form-control" type="email" />
                <label class="form-label">Email Address</label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="form-floating">
                <input id="contactNumber" class="form-control" />
                <label class="form-label">Phone Number</label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="form-floating">
                <select id="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-Binary">Non-Binary</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                    <option value="Custom">Custom</option>
                </select>
                <label class="form-label">Select gender</label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div class="form-floating">
                <input id="dateOfBirth" type="date" class="form-control" />
                <label class="form-label">Date of Birth</label>
            </div>
            <div style="margin-bottom: 15px;"></div>
            <div class="form-check">
                <input id="isPrivatePatient" class="form-check-input" type="checkbox" />
                <label class="form-check-label">Is not using state healthcare options?</label>
            </div>
            <div style="margin-bottom: 15px;"></div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Update Patient</button>
            </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/patients.js" asp-append-version="true"></script>
}
